/**
 * From http://yui.yahooapis.com/2.9.0/build/base/base.css
 */
body {
  /* For breathing room between content and viewport. */
  margin: 10px;
  line-height: 1.5;
}

/**
 * From http://yui.yahooapis.com/2.9.0/build/grids/grids.css
 */
#doc {
  text-align: left;
}

/**
 * From http://yui.yahooapis.com/2.9.0/build/grids/grids.css
 */
#hd:after,
#bd:after,
#ft:after {
  content: "";
  display: block;
  clear: both;
}

/**
 * From http://yui.yahooapis.com/2.9.0/build/grids/grids.css
 */
#hd,
#bd,
#ft {
  zoom: 1;
}

#hd {
  height: 2em;
  border-bottom: 0.3em solid #666;
}

#hd a {
  font-size: 108%;
  font-variant: small-caps;
  font-weight: bold;
}

#bd {
  padding-bottom: 1em;
  border-bottom: 0.3em solid #666;
}

.skip-links a {
  position: absolute;
  top: -100px;
}

.skip-links a:focus {
  top: 0;
}

#navigation {
  padding-top: 1em;
}

#navigation a.previous {
  float: left;
}

#navigation a.next {
  float: right;
}

#ft {
  padding-top: 1em;

  p {
    font-size: 100%;
    padding-top: 0.2em;
  }
}

pre {
  overflow: auto;
}

p, li, table {
  /*16px via YUI Fonts CSS foundation*/
  font-size: 123.1%;
}

li p {
  /*No adjustment for paragraphs already inside list item*/
  font-size: 100.0%;
}

pre code {
  /*14px via YUI Fonts CSS foundation*/
  font-size: 108%;
  font-weight: 400;
}

sup {
  /*10px via YUI Fonts CSS foundation*/
  font-size: 77%;
}

h1 {
  /*26px via YUI Fonts CSS foundation*/
  font-size: 197%;
}

h2 {
  /*22px via YUI Fonts CSS foundation*/
  font-size: 167%;
}

h3 {
  /*18px via YUI Fonts CSS foundation*/
  font-size: 138.5%;
}

pre {
  background-color: #f6f8fa;
}

code {
  font-weight: 600;
}

blockquote {
  font-style: italic;
}

$spacing-unit:     30px !default;
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;
$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

#doc {
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#doc img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.index .social {
  display: none;
}

.blog .p-summary {
  display: none;
}

.blog .metadata {
  font-style: italic;
}
