/**
 * From http://yui.yahooapis.com/2.9.0/build/base/base.css
 */
body {
  /* For breathing room between content and viewport. */
  margin:10px;
}

/**
 * From http://yui.yahooapis.com/2.9.0/build/grids/grids.css
 */
#doc {
  margin: auto;
  text-align: left;
  width: 57.69em;
  *width: 56.25em;
}

/**
 * From http://yui.yahooapis.com/2.9.0/build/grids/grids.css
 */
#hd:after,
#bd:after,
#ft:after {
  content: "";
  display: block;
  clear: both;
}

/**
 * From http://yui.yahooapis.com/2.9.0/build/grids/grids.css
 */
#hd,
#bd,
#ft {
  zoom: 1;
}

#hd {
  height: 2em;
  border-bottom: 0.3em solid #666;
}

#hd a {
  font-size: 108%;
  font-variant: small-caps;
  font-weight: bold;
}

#bd {
  padding-bottom: 1em;
  border-bottom: 0.3em solid #666;
}

#navigation {
  padding-top: 1em;
}

#navigation a.previous {
  float: left;
}

#navigation a.next {
  float: right;
}

#ft {
  padding-top: 1em;
}

pre {
  overflow: auto;
}

p, li, table {
  /*16px via YUI Fonts CSS foundation*/
  font-size: 123.1%;
}

li > p {
  /*No adjustment for paragraphs already inside list item*/
  font-size: 100.0%;
}

pre code {
  /*14px via YUI Fonts CSS foundation*/
  font-size: 108%;
}

sup {
  /*10px via YUI Fonts CSS foundation*/
  font-size: 77%;
}

h1 {
  /*26px via YUI Fonts CSS foundation*/
  font-size: 197%;
}

h2 {
  /*22px via YUI Fonts CSS foundation*/
  font-size: 167%;
}

h3 {
  /*18px via YUI Fonts CSS foundation*/
  font-size: 138.5%;
}

pre {
  background-color: #f6f8fa;
}

blockquote {
  font-style: italic;
}

.social {
  display: none;
}
