#hd {
  height: 2em;
  border-bottom: 0.3em solid #666;
}

#hd a {
  font-size: 108%;
  font-variant: small-caps;
  font-weight: bold;
}

#bd {
  border-bottom: 0.3em solid #666;
}

#ft {
  padding-top: 1em;
}

p, li, span, table {
  /*16px via YUI Fonts CSS foundation*/
  font-size: 123.1%
}

pre code {
  /*14px via YUI Fonts CSS foundation*/
  font-size: 108%
}

sup {
  /*10px via YUI Fonts CSS foundation*/
  font-size: 77%
}

h1 {
  /*26px via YUI Fonts CSS foundation*/
  font-size: 197%;
}

h2 {
  /*22px via YUI Fonts CSS foundation*/
  font-size: 167%;
}

h3 {
  /*18px via YUI Fonts CSS foundation*/
  font-size: 138.5%;
}

pre {
  background-color: #EEE;
}