---
title: Blog
description: Articles on Ruby, Ruby on Rails, Mock Objects, Test-Driven Development, Agile Development, eXtreme Programming, Trains on the East Coast mainline, Antarctica, Ski-Touring in Norway, etc.
created_at: 2009-11-28 16:23:13 +00:00
updated_at: 2009-11-28 16:23:13 +00:00
---

<% articles.each do |article| %>
<h2><%= link_to article.title, friendly_url(article) %></h2>

<p><%= article.data.description if article.data.description %></p>
<% end %>
