<ul class="social">
  <li><a href="https://twitter.com/floehopper" rel="me">@floehopper on Twitter</a></li>
  <li><a href="https://github.com/floehopper" rel="me">Github</a></li>
  <li><a href="https://www.flickr.com/people/jamesthecat/" rel="me">Flickr</a></li>
  <li><a href="https://mastodon.social/@floehopper" rel="me">mastodon.social</a></li>
  <li><a href="https://ruby.social/@floehopper" rel="me">ruby.social</a></li>
</ul>
