<div class="webmentions" data-webmentions="<%= absolute_url(friendly_url(current_page)) %>">
  <template id="webmention-template">
    <li class="webmention">
      <div>
        <a class="author">
          <span class="author-name"></span>
        </a>
        <a class="action"></a>
      </div>
      <div class="content"></div>
    </li>
  </template>
</div>

<script src="/javascripts/webmentions.js" type="text/javascript" charset="utf-8"></script>
