---
title: James Mead
description: Ruby Developer, author of Mocha, and ex-Antarctic Hero.
keywords: floehopper software developer mocha ruby rails freerange freelance antarctica telemark testing
created_at: 2009-11-28 16:23:13 +00:00
updated_at: 2009-11-28 16:23:13 +00:00
---
<section>
  <h2>Biography</h2>

  <ul>
    <li>Member of the <a href="http://gofreerange.com/"><span class="p-org">Go Free Range</span></a> worker co-operative</li>
    <li><span class="p-job-title">Software Developer</span> based in <a href="https://www.google.com/maps?q=Cambridge,+Cambs,+UK&z=7"><span class="p-locality">Cambridge</span>, <span class="p-country-name">UK</span></a>.</li>
    <li>Previously operating as <a href="https://beta.companieshouse.gov.uk/company/06851133">Floehopper Ltd</a>.</li>
    <li>Author of <a href="https://mocha.jamesmead.org/">Mocha</a>, a popular Ruby mocking library.</li>
    <li>Former winterer at <a href="https://www.bas.ac.uk/about/about-bas/our-history/british-research-stations-and-refuges/faraday-f/">Faraday Research Station</a>, Antarctica.</li>
  </ul>
</section>

<section>
  <h2>Latest blog posts</h2>

  <ul>
    <% articles[0..3].each do |article| %>
      <li><%= link_to article.data.title, friendly_url(article) %></li>
    <% end %>
    <li><a href="/blog">More...</a></li>
  </ul>
</section>

<section class="social">
  <h2>Social networks</h2>

  <img class="u-photo" alt="me telemark skiing" src="/images/telemark-skiing.png" loading="lazy" />

  <p class="p-note">Member of Go Free Range software coop; Ruby developer; author of Mocha Ruby library; sailing & telemark skiing; former Antarctic winterer; proud Green Party member & Remainer.</p>

  <ul>
    <li><a class="u-url u-uid" rel="me" href="https://jamesmead.org/">Web</a></li>
    <li><a class="u-url" rel="me" href="https://github.com/floehopper">Github</a></li>
    <li><a class="u-url" rel="me" href="https://www.flickr.com/people/jamesthecat/">Flickr</a></li>
    <li><a class="u-url" rel="me" href="https://mastodon.social/@floehopper">mastodon.social</a></li>
    <li><a class="u-url" rel="me" href="https://ruby.social/@floehopper">ruby.social</a></li>
    <li><a class="u-url" rel="me" href="https://fosstodon.org/@floehopper">fosstodon.org</a></li>
    <li><a class="u-url" rel="me" href="https://mas.to/@floehopper">mas.to</a></li>
    <li><a class="u-url" rel="me" href="https://indieweb.social/@floehopper">indieweb.socia</a></li>
  </ul>
</section>
